/*
    header {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    header h1{
        margin: 0px;
        text-shadow:0 0 5px black;

    }*/


    label {
        font-size: 2rem;
    }