
    /* Style for screens smaller than 600 pixels */
    @media only screen and (max-width: 600px) {
        .ui.top.fixed.menu {
            height: 3.6rem; /* adjust height for smaller screens */
        }

        .ui > .row h3.header {
            margin-bottom: 0;
            margin-top: 1.5rem;
        }


        /*.ui.container {
              margin-left: .5rem !important;
              padding-left: 1.5rem !important;
        }*/

        .mobile.only.row{
            padding-left: 2rem !important;
        }
    }